
<div id="<%= dom_id student %>">
  <p class="h5">
   <%= student.full_name %>
  </p>


  <p>
    <strong>Age: <%= student.age %></strong>
    <% if student.adult? %>
      <span class="badge rounded-pill text-bg-light">adult</span>
    <% end %>
  </p>


  <p>
    <strong>Notes:</strong>
    <%= student.student_notes %>
  </p>

</div>
