<div class="h4">
  Next lesson <%= student.upcoming_lesson.starts_at.in_time_zone(current_user.timezone).strftime("%b %d, %Y, %-l:%M %p") %>
</div>

<div class="d-flex">
  <%= button_to "Log lesson", edit_lesson_path(student.upcoming_lesson), class: "btn btn-small btn-outline-success", data: { turbo: false }, method: :get %>
  <%= button_to "Cancel lesson", lesson_path(student.upcoming_lesson, lesson: { status: "canceled" }), class: "btn btn-small btn-outline-danger", data: { turbo: false }, method: :patch %>

  <%= button_to student.preferred_communication_method == "phone" ? "sms:#{student.preferred_contact_info}" : "mailto:#{student.preferred_contact_info}", class: "btn btn-small btn-outline-primary", method: :get, data: { turbo: false } do %>
    Contact student

    <% if student.preferred_communication_method == "phone" %>
      <i class="fa-solid fa-envelope"></i>
    <% else %>
      <i class="fa-solid fa-comment-sms"></i>
    <% end %>

  <% end %>

</div>
