<p style="color: green"><%= notice %></p>

<div data-controller="side-bar">
  <div class="d-flex align-items-end">
    <div class="h1 mb-0 pb-0">Students</div>
    <div class="mb-1 ps-3">
      <%= link_to "New student", new_student_path, data: { turbo_frame: "student-details" }, class:"h6" %>
    </div>
  </div>

  <%= render partial: "shared/sidebar", 
    locals: { 
      toggle_button_action: "click->side-bar#toggleFullPage",
      array_to_iterate: current_user.students,
      link_path: ->(student_id) { student_path(student_id) },
      frame: "student-details"
      } %>

  <div class="col-9 col-sm-10 mt-2" data-side-bar-target="contentArea">
    <% if current_user.students.any? %>
      <%= turbo_frame_tag "student-details", src: student_path(current_user.students.first), data: { turbo_action: "advance" } do %>

      <% end %>

    <% else %>
      <div class="bg-body-tertiary h-100 text-center py-5 px-5">Your students' information will be displayed here.</div>
    <% end %>
  </div>

</div>
</div>
