<p style="color: green"><%= notice %></p>

<div data-controller="side-bar">
  <h1> Students <%= link_to "New student", new_student_path, data: { turbo_frame: "student-details" } %></h1>

  <%= render partial: "shared/sidebar", 
    locals: { 
      toggle_button_action: "click->side-bar#toggleFullPage",
      array_to_iterate: current_user.students,
      link_path: ->(student_id) { student_path(student_id) },
      frame: "student-details"
      } %>

  <div class="col-9 col-sm-10" data-side-bar-target="contentArea">
    <%= turbo_frame_tag "student-details", src: student_path(current_user.students.first) do %>

    <% end %>
  </div>

</div>
</div>
