<p style="color: green"><%= notice %></p>

<div data-controller="students-index">
  <h1> Students <%= link_to "New student", new_student_path, data: { turbo_frame: "student-details" } %></h1>
  
  <i class="fa-solid fa-angle-left" data-students-index-target="toggleIcon" data-action="click->students-index#toggle"></i>
  <div class="row">
    <div class="col-3 col-sm-2">
      <div class="list-group list-group-flush pb-2 fw-normal small" id="students-list" data-students-index-target="studentsList">
  
        <% current_user.students.each do |student| %>
          <%= link_to "#{ student.full_name }", student_path(student.id), data: { turbo_frame: "student-details", action: "click->students-index#toggle" }, class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>
  
    <div class="col-9 col-sm-10" data-students-index-target="studentDetails">
      <%= turbo_frame_tag "student-details", src: student_path(current_user.students.first) do %>
  
      <% end %>
    </div>
  
  </div>
</div>
