
  <div class="h5 ms-3">Lessons to log</div>

  <div class="list-group list-group-flush pb-2 fw-normal small">
    <% current_user.past_lessons.scheduled.each do |lesson| %>
      <div class="list-group-item list-group-item-action">
        <%= link_to lesson.student.full_name, student_path(lesson.student) %> 
        <div>
          <%= link_to "Log", edit_student_lesson_path(lesson.student, lesson, lesson: { status: "taught" }) %>
          <%= lesson.starts_at.in_time_zone(current_user.timezone).strftime("%b %d, %-l:%M %p") %>
        </div>
      </div>
    <% end %>
  </div>
