<div class="h5 ms-3 mt-2">Lessons to log</div>

<% if current_user.past_lessons.where(status: :scheduled).any? %>

  <div class="list-group list-group-flush pb-2 fw-normal small">
    <% current_user.past_lessons.scheduled.each do |lesson| %>
      <div class="list-group-item list-group-item-action">
        <%= lesson.student.full_name %>
        <div>
          <%= link_to "Log", edit_student_lesson_path(lesson.student, lesson, lesson: { status: "taught" }), class: "stretched-link", style: "color: black;" %>
          <%= lesson.starts_at.in_time_zone(current_user.timezone).strftime("%b %d, %-l:%M %p") %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="bg-body-tertiary h-100 d-flex justify-content-center align-items-center">
    <div class="text-center text-secondary">No lessons to log.</div>
  </div>
<% end %>
