<h1>Dashboard</h1>

<h3>This week's lessons</h3>

<div class="row">
  <div data-bs-toggle="collapse" data-bs-target="#lessons-list" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </div>

  <div class="col-3 col-sm-3 collapse-horizontal collapse" id="lessons-list" data-controller>
    <div id="list-example">
      <% current_user.lessons.this_week.each do |lesson| %>
        <%= link_to "#{ lesson.student.full_name }", student_lessons_path(lesson.student.id), data: { turbo_frame: "lesson-content" }, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>

  <div class="col-9 col-sm-7">
    <turbo-frame id="lesson-content">
      <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <a class="navbar-brand"> Welcome! </a>
        <div class="navbar-brand">No lessons to display</div>
      </nav>
      <div>DIGEST PLACEHOLDER</div>
    </turbo-frame>
  </div>

  <div class="col-12 col-sm-2">
    <div class="h5">Recent students</div>
    <% current_user.taught_lessons.limit(10).each do |lesson| %>
      <div>
        <%= link_to lesson.student.full_name, student_path(lesson.student) %>
        <%= link_to "Message student", lesson.student.preferred_communication_method == "phone" ? "sms:#{lesson.student.preferred_contact_info}" : "mailto:#{lesson.student.preferred_contact_info}" %>
      </div>
    <% end %>
    <% if current_user.past_lessons.scheduled.any? %>
      <%= render "users/lessons_to_log" %>
    <% end %>
  </div>
</div>
