<h1><%= "Dashboard" %></h1>

<h3>This week's lessons</h3>

<div class="row">
  <div class="col-4">
    <div id="list-example" class="list-group">
      <% current_user.lessons.this_week.each do |lesson| %>
        <%= link_to "#{ lesson.student.full_name }", student_lessons_path(lesson.student.id), data: { turbo_frame: "lesson-content" }, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <turbo-frame id="lesson-content">
    </turbo-frame>
  </div>
</div>

<div class="container">
<% current_user.lessons.taught.limit(10).each do |lesson| %>
  <div>
    <%= link_to lesson.student.full_name, student_path(lesson.student) %> 
    <%= link_to "Message student", lesson.student.contacts.first.preferred_communication_method %>
  </div>
<% end %>
</div>
