<div class="alert alert-<%= role %> alert-dismissible fade show d-flex align-items-center justify-content-center" style="padding: 5px 15px;" role="alert">
  <%= message %>
  <i class="fa-solid fa-xmark fa-sm" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; right:10;"></i>

</div>
