<% if current_user.students.any? %>

  <div class="col-2" data-action="<%= toggle_button_action %>">
    <i class="fa-solid fa-angle-left" data-side-bar-target="toggleIcon" data-action="<%= toggle_button_action %>"></i>
    </div>

  <div class="row">
    <div class="col-3 col-sm-2" data-side-bar-target="collapsibleList">

      <div class="list-group list-group-flush pb-2 fw-normal small">

        <% array_to_iterate.each do |student| %>
          <%= link_to student.full_name, link_path.call(student), data: { turbo_frame: frame }, class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
      
    </div>

  <% else %>
    <div class="row">
      <div class="col-3 col-sm-2 mt-2">
        <div class="d-flex bg-body-tertiary h-100 align-items-center justify-content-center">
          <div class="text-center text-secondary">No students to display.</div>
        </div>

      </div>
    <% end %>
