<% if array_to_iterate.present? %>

  <div class="row">
    <div class="col-3 col-sm-2 p-0 ps-1 ps-sm-3 p-sm-3" data-side-bar-target="collapsibleList">

      <div class="list-group list-group-flush fw-normal small rounded-3">

        <% array_to_iterate.each do |student| %>
          <%= link_to student.full_name, link_path.call(student), data: { turbo_frame: frame }, class: "list-group-item list-group-item-action px-1 ps-sm-3" %>
        <% end %>
      </div>
      
    </div>

  <% else %>
    <div class="row">
      <div class="col-3 col-sm-2 mt-2 px-0">
        <div class="d-flex bg-body-tertiary h-100 align-items-center justify-content-center placeholder-custom ms-2 rounded-3">
          <div class="text-center text-secondary text-wrap mx-3 "><%= current_page?(dashboard_path) ? "No lessons this week!" : "No students to display." %></div>
        </div>

      </div>
    <% end %>
