

<% if contact.phone.present? %>
  <div class="d-flex align-items-center mb-2">
    <i class="fa-solid fa-square-phone" style="color: #5d6edd;"></i>
    <p class="card-text ms-2 mb-0 fs-6"><%= contact.phone %></p>
    <% if contact.preferred_communication_method == "phone" %>
      <i class="fa-solid fa-star fa-2xs ms-2" style="color: #fbb153;"></i>
    <% end %>
  </div>
<% end %>
<% if contact.email.present? %>
  <div class="d-flex align-items-center mb-2">
    <i class="fa-solid fa-square-envelope" style="color: #5d6edd;"></i>
    <p class="card-text ms-2 mb-0 fs-6"><%= contact.email %></p>
    <% if contact.preferred_communication_method == "email" %>
      <i class="fa-solid fa-star fa-2xs ms-2" style="color: #fbb153;"></i>
    <% end %>
  </div>
<% end %>
<% if contact.address.present? %>
  <div class="d-flex align-items-center mb-2">
    <i class="fa-solid fa-location-dot" style="color: #5d6edd;"></i>
    <p class="card-text ms-2 mb-0 fs-6"><%= contact.address %></p>
  </div>
<% end %>
<% if contact.notes.present? %>
  <div class="d-flex align-items-center mb-2">
    <i class="fa-solid fa-book-open" style="color: #5d6edd;"></i>
    <p class="card-text ms-2 mb-0 fs-6"><%= contact.notes %></p>
  </div>
<% end %>
